*{
	font-family: 'Roboto', sans-serif;
}


.main-cont{
	overflow:hidden;
	width:100%;
	max-width:100%;
	height: 800px;
	background-color:#efefef;
}

.btn{
	width:100%;
	padding:10px 5px;
	background-color:yellow;
	outline: none;
	border:none;
	cursor: pointer;
	font-size:16px;
	line-height: 20px;
	border-radius:5px;
	white-space: nowrap;
	overflow: hidden;
}

.btn:hover{
	background-color:white;
}

.btn:active{
	background-color:blue;
}

.top-icon{
	color:green;
	font-size:40px;
	text-align: center;
	font-weight: 700;
	line-height: 45px;
	width:100%;
	display: inline-block;
	cursor:pointer;
}

.op-icon{
	height:40px;
	background-color:yellow;
	margin:5px;
	text-align: center;
	cursor:pointer;
}

.text-field{
	width:100%;
	border:none;
	outline: none;
	line-height: 24px;
	font-size:18px;
	padding:2.5px 5px;
	box-sizing: border-box;
	margin:2.5px 0;
	background-color:transparent;
	border:1px solid gray;
	border-radius: 5px;
}

.text-field:focus {
	background-color:#fff;
	border-color:yellow;
}

label{
	font-size:14px;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
}

.form-group{
	width:100%;
	margin:10px 0;
}

.shirt-cont{
	height: 600px;
	background-color:white;
	border-radius: 5px;
	position: relative;
}
.view-menu-cont label{
	font-size:10px;
	color:#666;
}
.view-menu-cont label::after{
	content:'';
	display:block;
}
.view-menu-cont input{
	display:inline-block;
}
.view-menu-cont .col-2{
	width: 100px;
}
.shirt-cont{
	background: white;
}
.grid-lines-true{
	background: url('../img/kletka.jpg') center center repeat;
	-webkit-background-size: 9%;
	background-size: 9%;
} 

.x-lines-cont{
	display: inline-block;
	position: absolute;
	top: -20px;
	left: 0;
}
.x-col-cont{
	width: 100px;
	display: block;
	float: left;
	padding: 0;
	position: relative;
}
p.x-val{
	text-align:left;
	margin:0 0 12px 0;
	font-size: 14px;
	font-weight: 600;
	color:#545151;
}
.small-lines-cont{
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: -10px;
	left: 0;
	display:inline-block;
}

.small-lines{
	width: 10px;
	height: 8px;
	border-left: 1px solid #666;
	float:left;
	display:block;
}
.small-lines-cont>.small-lines:nth-of-type(1){
	height: 14px;
    margin-top: -3px;
    border-width: 2px;
}

.x-col-cont, p.x-val, .small-lines{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box ;
	box-sizing: border-box;
}
.file-menu-cont{
	display:none;
}
.x-lines-cont:nth-of-type(2){
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
    top: 329px;
    left: -356px;

}

.x-lines-cont:nth-of-type(2) p{
	text-align:right ;
}
.x-lines-cont:nth-of-type(2)>.x-col-cont{
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.x-lines-cont:nth-of-type(2)>.x-col-cont:nth-of-type(7) p{
	margin-right: -10px;
}
div.padding {
	padding-top:20px;
	overflow:hidden;
}
.x-line-coord {
	width:1px;
	height: 20px;
	position: absolute;
	background: red;
	top: -15px;
	left: 0;
}
.y-line-coord {
	width: 20px;
	height: 1px;
	position: absolute;
	background: blue;
	left: -15px;
	top: 0;
}