.main-cont{
	overflow:hidden !important;
	width:100%;
	min-height: 100vh;
	height:100vh;
	background-color:#efefef;
}

.btn{
	width:100%;
	padding:10px 5px;
	background-color:yellow;
	outline: none;
	border:none;
	cursor: pointer;
	font-size:16px;
	line-height: 20px;
	border-radius:5px;
	white-space: nowrap;
	overflow: hidden;
}

.btn:hover{
	background-color:white;
}

.btn:active{
	background-color:blue;
}

.top-icon{
	color:green;
	font-size:40px;
	text-align: center;
	font-weight: 700;
	line-height: 45px;
	width:100%;
	display: inline-block;
	cursor:pointer;
}

.op-icon{
	height:40px;
	background-color:yellow;
	margin:5px;
	text-align: center;
	cursor:pointer;
}

.text-field{
	width:100%;
	border:none;
	outline: none;
	line-height: 24px;
	font-size:18px;
	padding:2.5px 5px;
	box-sizing: border-box;
	margin:2.5px 0;
	background-color:transparent;
	border:1px solid gray;
	border-radius: 5px;
}

.text-field:focus {
	background-color:#fff;
	border-color:yellow;
}

label{
	font-size:14px;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
}

.form-group{
	width:100%;
	margin:10px 0;
}

.shirt-cont{
	min-height: calc(100vh - 150px);
	background-color:white;
	border-radius: 5px;
	position: relative;
}
.view-menu-cont label{
	font-size:10px;
}
.view-menu-cont label::after{
	content:'';
	display:block;
}
.view-menu-cont input{
	display:inline-block;
}
.view-menu-cont .col-2{
	width: 100px;
}
.shirt-cont{
	background: white;
}
.grid-lines-true{
	background: url('../img/kletka.jpg') center center repeat;
	-webkit-background-size: 9%;
	background-size: 9%;
} 

.x-lines-cont{
	display: inline-block;
	position: absolute;
	top: -20px;
	left: 0;
}
.x-col-cont{
	width: 100px;
	display: block;
	float: left;
	border: 1px solid black;
	border-left:none;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box ;
	box-sizing: border-box;
}
p.x-val{
	text-align:left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box ;
	box-sizing: border-box;
	padding-left: 5px;
	margin: 5px 0;
	font-size: 14px;
	font-weight: 600;
}
.x-col-cont:nth-of-type(1) {
	border-left:1px solid black;
}
